[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.loading {
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.featured-projects {
    margin-bottom: 25px;
}

.featured-projects .carousel-inner {
    background-color: #01BCF3;
}

.featured-projects .carousel-inner .item a:hover, a:active {
    text-decoration: none;
}

.featured-projects .carousel-inner .panel {
    background-color: #01BCF3;
    border: none;
    width: 70%;
}

.featured-projects .carousel-inner .carousel-panel {
    margin-bottom: 0px; 
    padding-bottom:20px;
}
    
.featured-projects .carousel-inner .panel .panel-heading {
    background-color: #01BCF3;
    border: none;
}

.featured-projects .carousel-inner .panel .panel-heading .panel-title {
    font-size: 44px;
    color: #FFF;
    margin: auto;
}

.featured-projects .carousel-inner .panel .description {
    font-size: 30px;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    height: 110px;
    color: #FFF;
}

.featured-projects .panel-body .span-stars-group {
    margin: 2px 10px 2px 2px;
    color: #FFF;
    font-size: 18px;
}

.featured-projects .panel-body .span-forks-group {
    margin: 2px 10px 2px 2px;
    color: #FFF;
    font-size: 18px;
}

.carousel-control.left, .carousel-control.right{ 
    background: none !important; 
    filter: progid:none !important; 
    color: #FFF !important;
    cursor: pointer;
}

.all-projects .no-repos {
    margin: 10px 0px 20px 50px;
    font-size: 20px;
    color: #F65314;
}
    
.all-projects .row .panel .panel-heading {
    background-color: rgb(237, 237, 237);
    color: rgb(0, 0, 0);
    text-decoration: none;
    overflow:hidden;
    text-wrap: none;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    height: 50px;
    padding: 0px;
}

.all-projects .row .panel .panel-heading a:hover, a:active {
    text-decoration: none;
}

.all-projects .row .panel .panel-heading .panel-title-area {
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 10px 15px 10px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    overflow:hidden;
    text-wrap: none;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 100%;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
}

.all-projects .row .panel .fork-info {
    font-size: 14px;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    height: 26px;
    padding: 5px 10px 5px 10px;
}

.glyphicon {
    margin: 0px 4px 0px 4px;
    padding: 0px 4px 0px 4px;
}
    
.all-projects .row .panel .fork-info span {
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
}

.all-projects .row .panel .description {
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    height: 65px;
}

.all-projects .panel-body .span-stars-group {
    margin: 2px 10px 2px 2px;
}

.all-projects .panel-body .span-forks-group {
    margin: 2px 10px 2px 2px;
}

.all-projects .paginator li {
    display:inline;
    list-style-type: none;
    padding-left: 20px;
    cursor: pointer;
}

.organizations  {
    background-color: rgb(109, 194, 233);
    padding: 20px 50px 20px 50px;
}

.organizations .orgs-heading {
    color: #FFF;
    margin-bottom: 10px;
}

.organizations .row .orglink {
    color: #FFF;
    font-size: 13px;
}
