.loading {
    text-align: left;
}

.featured-projects .row .panel .panel-heading {
    background-color: #00A3EE;
}

.featured-projects .row .panel .panel-heading .panel-title {
    color: #F4F9FC;
}

.featured-projects .row .panel .description {
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    height:10em;
}

.featured-projects .panel-body .span-stars-group {
    margin: 2px 10px 2px 2px;
}

.featured-projects .panel-body .span-forks-group {
    margin: 2px 10px 2px 2px;
}

.all-projects .row .panel .panel-heading {
    background-color: #EDEDED;
}

.all-projects .row .panel .panel-heading .panel-title {
    color: #4F4F4F;
}

.all-projects .row .panel .description {
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    height:10em;
}

.all-projects .panel-body .span-stars-group {
    margin: 2px 10px 2px 2px;
}

.all-projects .panel-body .span-forks-group {
    margin: 2px 10px 2px 2px;
}

.organizations  {
    background-color: #6DC2E9;
    padding: 20px 50px 20px 50px;
}

.organizations .orgs-heading {
    color: #F5F9F9;
}

.organizations .row {
    margin-top: 20px;
}

.organizations .row .orglink {
    color: #F5F9F9;
}