body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    font-family:wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div.main-content {
    min-height: 450px !important;
    /*_height: 500px !important;*/
    margin-top:20px !important;
    margin-bottom: 0px !important;
}

.repotable {
    margin-top:10px;
}

.repotable>tbody>tr:hover>td, .repotable>tbody>tr:hover>th {
  background-color: #b1e0ff;
}
.repotable td  {
    border-width: 0px !important;
    border-top-width:0px !important;
    border-top-color: transparent;
    border-image-width: 0px;
}

.wrap-div{
    overflow: auto;
}


pre {
    border:0;
}

#repo-browser
{
    margin-top:2em;
}

#dir-browser
{
    /*padding-top:1.5em;*/
    height:550px;
    font-size:13px;
}

.file-viewer-div
{
    font-size:13px;
    height:550px;
    background-color: white !important;
    border: 1px solid #888;
    overflow:auto;
}

#file-viewer-pre
{
    background-color: white !important;
}
#file-viewer-code
{
    background-color: white !important;
    font-size:13px;
}

a.breadcrumb-link, a.breadcrumb-link:hover, a.breadcrumb-link:active {
    color: #00a3ee;
    text-decoration: none;
}

div.jstree-wholerow-hovered {
    /*background-color:#b1e0ff !important;*/
    background-color: #b1e0ff !important;
}
a.jstree-hovered, a.jstree-clicked   {
    color:black !important;
}
div.jstree-wholerow-clicked {
    background-color:#00BCF2 !important;
    background-image:none !important;

}

.mscom-footer3{
    padding-bottom: .85%;
}

.mscom-footer3  a 
.mscom-footer2{
    background-color:white !important;
    color:black !important;
}
.mscom-footer2  a

{
    color: black !important;
}
.mscom-footer2  .heading
{
    color: black !important;
}

.mscom-footer2 .credits {
    font-size: 12px;
    margin-bottom: 20px; 
}

.tou{
    font-family:  wf_segoe-ui_light;
}

ul.toulist{
    list-style-type:disc;
    margin-left:1em;
}
ul.toulist li{
    font-family:  wf_segoe-ui_light;
}

div.metric-value {
    text-align:right; 
    margin-right:0px; 
    padding-right:0px;
}

div.metric-label {
    text-align:left; 
    margin-left:0px; 
}

div.metric-value {
    text-align:right;
    margin-right:0px;
    padding-right:0px;
}
div.metric-label {
    text-align:left;
    margin-left:0px;
}
