<!DOCTYPE html>
<html ng-app="site">
	<head>
		<title>Microsoft on GitHub</title>
		<link rel="shortcut icon" href="//www.microsoft.com/favicon.ico?v2"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="css/main.css"/>
		<link rel="stylesheet" href="css/mscom.css"/>
		<link rel="stylesheet" href="css/site.css"/>
	</head>
	
	<body ng-controller="MainCtrl as main">
		<div class="row-fluid" data-view4="1" data-view3="1" data-view2="1" data-view1="1" data-cols="1">
			<div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 sortable-control" >
				<div id="ctl00_HeaderControl" class="CSPvNext CMSvNextComp mscom-header">
					<div id="ctl00_HeaderControlGrid" >
						<div class="row-fluid mscom-container-maxwidth mscom-grid-container mscom-fullwidth-view-1">
							<div class="row-fluid mscom-header-row-0" data-view4="1" data-view3="1" data-view2="1" data-view1="1" data-cols="1">
								<div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-0 mscom-textalign-right mscom-header-storelink-section-topbar"></div>
								</div>
							</div>
							<div class="row-fluid mscom-container-maxwidth mscom-grid-container">
								<div class="row-fluid  mscom-header-row-1" data-view4="2" data-view3="2" data-view2="2" data-view1="2" data-cols="2">
									<div class="span  bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 bp0-col-2-1 mscom-header-section-1-1">
										<a  target="_self" class="mscom-link mscom-siteLogo mscom-siteLogo-small" title="Microsoft" href="http://www.microsoft.com" >
											<img src="//c.s-microsoft.com/en-us/CMSImages/mslogo.png?version=856673f8-e6be-0476-6669-d5bf2300391d" class="mscom-image mscom-left" alt="Microsoft" width="160" height="34">
										</a>
									</div>
								</div>
	
							<div class="row-fluid mscom-header-row-2" data-view4="2" data-view3="2" data-view2="2" data-view1="2" data-cols="4">
								<div class="span  bp1-col-2-1 bp3-col-2-1 bp2-col-2-1 bp0-col-2-1">
									<a  target="_self" class="mscom-link mscom-siteIdentity" href="/" >Microsoft on GitHub</a>
								</div>
	
								<!--Search-->
								<div class=" span  bp1-col-2-1 bp3-col-2-1 bp2-col-2-1 bp0-col-2-0 mscom-header-search-section">
									<div class="mscom-right mscom-header-section-2-4">
										<div >
											<div class="CSPvNext">
												<div class="row-fluid" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
													<div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 sortable-control">
														<div class="CMSvNextComp mscom-search">
															<span class="mscom-search-Border" id="ctl00_SearchBox">
																<div class="mscom-search-Container">
																	<input name="searchQuery"
																		title="Search all Microsoft repos"
																		class="mscom-search-TextBox"
																		id="searchQuery"
																		type="text"
																		maxlength="1024"
																		placeholder="Search all Microsoft repos..."
																		style="max-width:100%!important"
																		autocomplete="off"
																		ng-model="searchText" />
																	<input name="ctl00$SearchButton" title="Search"
																		class="mscom-search-image mscom-search-Button"
																		id="ctl00_SearchButton"
																		type="image"
																		alt="Search"
																		src="img/search.ltr.png" />
																</div>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--Search-->
	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid dlc-body" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
			<div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 sortable-control">
				<div class="main-content">
					<div class="featured-projects">
						<div class="loading" ng-hide="main.featuredProjects">Loading data...</div>
	
						<!-- Carousel -->
						<div id="carousel-featured-repos" class="slide carousel" ng-show="main.featuredProjects" data-ride="carousel" ng-cloak>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-featured-repos" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-featured-repos" data-slide-to="1"></li>
								<li data-target="#carousel-featured-repos" data-slide-to="2"></li>
								<li data-target="#carousel-featured-repos" data-slide-to="3"></li>
							</ol>
							<!-- Slide -->
							<div class="carousel-inner">
								<div class="item" ng-class="{'active': $index==0}" ng-repeat="project in main.featuredProjects">
									<a ng-href="{{project.Url}}">
										<div class="panel panel-default clearfix center carousel-panel">
											<div class="panel-heading">
												<span class="panel-title">{{project.Name}}</span>
											</div>
										<div class="panel-body description">{{project.Description}}</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-sm-8 col-sm-offset-4 col-xs-12 col-xs-offset-0 text-right">
														<span class="span-stars-group"><i class="fa fa-star fa-fw"></i>{{project.Stars}}</span>
														<span class="span-forks-group"><i class="fa fa-code-fork fa-fw"></i>{{project.Forks}}</span>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
								<!--Summary slide-->
								<div class="item">
									<div class="panel panel-default clearfix center carousel-panel" style="height:273px;">
										<div class="panel-heading">
											<span class="panel-title">Overall</span>
										</div>
										<div class="panel-body description">
											<div class="row ">
												<div class="col-md-4 metric-value">{{overAllStats.Projects}}</div>
												<div class="col-sm-2 metric-label">Repos</div>
                                                						<div class="col-sm-2 metric-value">{{overAllStats.Stars}}</div>
												<div class="col-md-4 metric-label"><i class="fa fa-star"></i>&nbsp;Stars</div>
											</div>
											<div class="row">
                                                						<div class="col-md-4 metric-value">{{overAllStats.Forks}}</div>
                                                						<div class="col-sm-2 metric-label"><i class="fa fa-code-fork"></i>&nbsp;Forks</div>
												<div class="col-sm-2 metric-value">{{overAllStats.Issues}}</div>
												<div class="col-md-4 metric-label">Open Issues</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-featured-repos" ng-non-bindable data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#carousel-featured-repos" ng-non-bindable data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
	
					<div class="all-projects">
						<h3 ng-cloak>{{resultsSectionTitle}}</h3>
						<div class="loading" ng-hide="main.projects">Loading data...</div>
						<div class="row no-repos" ng-show="main.projects && (noOfRepos == 0)" ng-cloak>No repos found containing the search term '{{searchText}}'.</div>
						<div class="row" ng-show="main.projects && (noOfRepos > 0)" ng-cloak>
							<div class="col-md-4 col-md-offset-0 col-xs-6 col-xs-offset-0" ng-repeat="project in filtered | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a ng-href="{{project.Url}}">
											<div class="panel-title-area">{{project.Name}}</div>
										</a>
									</div>
									<div class="panel-body fork-info">
										<span ng-if="project.Fork">
											<span class="glyphicon glyphicon-random"></span>Forked from <a ng-href="{{project.ForkedFromUrl}}">{{project.ForkedFrom}}</a>
										</span>
									</div>
									<div class="panel-body description"><span>{{project.Description}}</span></div>
									<div class="panel-body">
										<div class="row">
											<div class="center">
												<span class="span-stars-group"><i class="fa fa-star fa-fw"></i>{{project.Stars}}</span>
												<span class="span-forks-group"><i class="fa fa-code-fork fa-fw"></i>{{project.Forks}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div>
								<pagination class="col-xs-12 paginator pagination-small" ng-show="noOfRepos > 12" data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" on-select-page="pageChanged()" max-size="maxSize" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
							</div>
						</div>
					</div>
	
					<div class="organizations">
						<h3 class="orgs-heading">Other Microsoft GitHub Organizations</h3>
						<div class="row">
							<div class="col-md-3 col-xs-6" ng-repeat="org in main.orgs">
								<a ng-href="{{org.url}}" class="orglink">
									<!-- <img ng-src="{{org.image}}" alt="{{org.image}}"> -->
									<span class="text-center" ng-cloak>{{org.title}}</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	
		<footer style="">
			<div class="row-fluid" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
				<div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 sortable-control">
					<div>
						<div class="CSPvNext CMSvNextComp mscom-footer-gray">
							<div class="row-fluid mscom-footer-row-1 mscom-container-maxwidth mscom-grid-container" data-cols="4" data-view1="1" data-view2="2" data-view3="2" data-view4="4">
								<span class="follow-text" style="margin-right: .5em;font-size: 18px;vertical-align:middle;">Follow Open at Microsoft</span>
								<div class="fb-follow" data-href="https://www.facebook.com/openatmicrosoft" data-width="32" data-height="32" data-layout="standard" data-show-faces="true"></div>
								<a  href="https://twitter.com/openatmicrosoft" class="twitter-follow-button" data-show-count="false">Follow @openatmicrosoft</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							</div>
						</div>
						<div class="CSPvNext CMSvNextComp mscom-footer">
							<div class="row-fluid mscom-footer-row-1 mscom-container-maxwidth mscom-grid-container" data-cols="4" data-view1="1" data-view2="2" data-view3="2" data-view4="4">
								<div class="span bp0-col-1-1 bp1-col-2-1 bp3-col-4-1 bp2-col-2-1 mscom-footer-destinationlink">
									<div>
										<div class="CSPvNext">
											<div class="row-fluid no-margin-row" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
												<div class="span  bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 sortable-control">
													<ul>
														<li class="heading">
														Blogs:
														</li>
														<li>
															<a class="mscom-link" href="http://blogs.office.com/dev/" target="_self">Office Developer</a>
														</li>
														<li>
															<a class="mscom-link" href="http://blogs.windows.com/buildingapps/" target="_self">Building Apps for Windows</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="span bp0-col-1-1 bp1-col-2-1 bp3-col-4-1 bp1-clear bp2-col-2-1 bp2-clear mscom-footer-destinationlink">
									<div>
										<div class="CSPvNext">
											<div class="row-fluid no-margin-row" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
												<div class="span  bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 sortable-control">
													<ul style="list-style-type: none;">
														<li class="heading">
															&nbsp;
														</li>
														<li>
															<a class="mscom-link" href="https://blogs.windows.com/msedgedev/" target="_self">Microsoft Edge Dev Blog</a>
														</li>
														<li>
															<a class="mscom-link" href="http://blogs.technet.com/b/serverandtools/" target="_self">Microsoft Cloud + Enterprise</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="span bp0-col-1-1 bp1-col-2-1 bp3-col-4-1 bp1-clear bp2-col-2-1 bp2-clear mscom-footer-destinationlink">
									<div>
										<div class="CSPvNext       ">
											<div class="row-fluid no-margin-row" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
												<div class="span  bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 sortable-control">
													<ul style="list-style-type: none;">
														<li class="heading">
															&nbsp;
														</li>
														<li>
															<a class="mscom-link" href="http://blogs.msdn.com/b/bingdevcenter/" target="_self">Bing Dev Center Team Blog</a>
														</li>
														<li>
															<a class="mscom-link" href="http://engineering.microsoft.com/" target="_self">Engineering @ Microsoft</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="span bp0-col-1-1 bp1-col-2-1 bp3-col-4-1 bp2-col-2-1 mscom-footer-popularresources">
									<div>
										<div class="CSPvNext">
											<div class="row-fluid no-margin-row" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
												<div class="span  bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 sortable-control">
													<ul style="list-style-type: none;">
														<li class="heading">
															<span class="loc">
																Contact us:
															</span>
														</li>
														<li>
															<a class="mscom-link" href="mailto:oss@microsoft.com" target="_self">Open Source Programs Office</a>
														</li>
														<li>
															<a class="mscom-link" href="https://twitter.com/openatmicrosoft" target="_self">Twitter</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row-fluid mscom-footer-row-3 mscom-container-maxwidth mscom-grid-container mscom-grid-container padded" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
								<div class="span  bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 mscom-footer-defaultlink">
									<div class="row">
										<div class="credits">This open sourced site is <a href="https://github.com/Microsoft/microsoft.github.io" target="_blank">hosted on GitHub</a>. Patches, suggestions and comments are welcome.
											Built with love... and <a href="http://angularjs.org/" target="_blank">AngularJS</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="http://pages.github.com/" target="_blank">GitHub Pages</a>, and <a href="http://developer.github.com/v3/" target="_blank">API</a>.</div>
									</div>
								</div>
							</div>
						</div>
		
						<div class="CSPvNext CMSvNextComp mscom-footer mscom-footer2"  >
							<div class="row-fluid mscom-footer-row-3 mscom-container-maxwidth mscom-grid-container mscom-grid-container" data-cols="1" data-view1="1" data-view2="1" data-view3="1" data-view4="1">
								<div class="span  bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1 mscom-footer-defaultlink">
									<div class="list2" style="text-align: right;">
										<ul style="list-style-type: none;">
											<li>
												<a class="mscom-link" href="http://go.microsoft.com/fwlink/?LinkId=248681" target="_self">Privacy &amp; cookies</a>
											</li>
											<li>
												<a class="mscom-link" href="http://go.microsoft.com/fwlink/?LinkId=206977" target="_self">Terms of use</a>
											</li>
											<li>
												<a class="mscom-link" href="http://go.microsoft.com/?linkid=9851308" target="_self">Trademarks</a>
											</li>
											<li style="margin-left:25px;">&copy; <script>document.write(new Date().getFullYear());</script> Microsoft
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-aria.min.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
		<script src="js/main.js"></script>
		<script type="text/JavaScript">
			var varSegmentation = 0;
			var varClickTracking = 1;
			var varCustomerTracking = 1;
			var varAutoFirePV = 1;
			var Route = "58734";
			var Ctrl = "";
			document.write("<script type='text/javascript' src='//c.microsoft.com/ms.js'><\/script>");
		</script>
		<noscript><img alt="" width="1" height="1" src="http://c.microsoft.com/trans_pixel.aspx" /></noscript>
	</body>
</html>
